In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from urllib.request import urlopen, HTTPError
import csv

## Save working links for scores to CSV

In [2]:
next_year_dict = {}
for year in range(4, 19):
    year_str = '0'+str(year) if year<10 else str(year)
    next_year = year + 1
    next_year_str = '0'+str(next_year) if next_year<10 else str(next_year)
    next_year_dict[year_str] = next_year_str

In [3]:
def parse_link(template, verbose=False):
    try:
        html = urlopen(template)
        if verbose:
            print('sucess:', template)
        return html
    except HTTPError as e:
        if verbose:
            print('failure:', template)
        return None

In [4]:
gp_templates = [    
    'http://www.isuresults.com/results/gp{0}{1}/CAT00{3}RS.HTM',
    'http://www.isuresults.com/results/gp{0}20{1}/CAT00{3}RS.HTM',
    'http://www.isuresults.com/results/gp{0}{1}{2}/CAT00{3}RS.HTM',
    'http://www.isuresults.com/results/season{1}{2}/gp{0}{1}{2}/CAT00{3}RS.HTM',
    'http://www.isuresults.com/results/season{1}{2}/gp{0}{1}{2}/data0{3}90.htm',
    'http://www.isuresults.com/results/season{1}{2}/gp{0}20{1}/CAT00{3}RS.HTM',
    'http://www.isuresults.com/results/season{1}{2}/gp{0}20{1}/data0{3}90.htm'      
]
cp_templates = [
    'http://www.isuresults.com/results/{0}20{2}/CAT00{3}RS.HTM',
    'http://www.isuresults.com/results/season{1}{2}/{0}20{2}/CAT00{3}RS.HTM'
]

In [5]:
gp_events = ['usa', 'can', 'fra', 'rus', 'chn', 'jpn', 'fin', 'f']
cp_events = ['ec', 'fc', 'owg', 'wc']
events = gp_events + cp_events
event_new_names = ['US', 'CA', 'FR', 'RU', 'CN', 'JP', 'FI', 'FN', 'EU', '4C', 'OL', 'WR']
event_name_dict = dict(zip(events, event_new_names))
event_name_dict

{'usa': 'US',
 'can': 'CA',
 'fra': 'FR',
 'rus': 'RU',
 'chn': 'CN',
 'jpn': 'JP',
 'fin': 'FI',
 'f': 'FN',
 'ec': 'EU',
 'fc': '4C',
 'owg': 'OL',
 'wc': 'WR'}

In [545]:
with open('links/male.csv', mode='w') as file:    
    writer = csv.writer(file, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
    writer.writerow(['event', 'year', 'url'])
    for event in events:
        for year_str, next_year_str in next_year_dict.items():
            if (next_year_str == '12' and event == 'wc') or (year_str in ['08', '09'] and event == 'f'):
                gender = '5'
            elif next_year_str in ['11', '12'] and event in ['ec', 'wc']:
                gender = '4'
            else:
                gender = '1'
            templates = gp_templates if event in gp_events else cp_templates
            for template in templates:
                template = template.format(event, year_str, next_year_str, gender)
                html = parse_link(template)
                if html is not None:
                    writer.writerow([event_name_dict[event], int('20'+next_year_str), template])
                    break

In [546]:
with open('links/female.csv', mode='w') as file:
    writer = csv.writer(file, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
    writer.writerow(['event', 'year', 'url'])
    for event in events:
        for year_str, next_year_str in next_year_dict.items():
            if (next_year_str == '12' and event == 'wc') or (year_str in ['08', '09'] and event == 'f'):
                gender = '6'
            elif next_year_str in ['11', '12'] and event in ['ec', 'wc']:
                gender = '5'
            else:
                gender = '2'      
            templates = gp_templates if event in gp_events else cp_templates
            for template in templates:
                template = template.format(event, year_str, next_year_str, gender)
                html = parse_link(template)
                if html is not None:
                    writer.writerow([event_name_dict[event], int('20'+next_year_str), template])
                    break

## Parse score from saved links

In [6]:
male_links = pd.read_csv('links/male.csv')
male_links = pd.pivot(values=male_links['url'], index=male_links['event'], columns=male_links['year'])

In [7]:
female_links = pd.read_csv('links/female.csv')
female_links = pd.pivot(values=female_links['url'], index=female_links['event'], columns=female_links['year'])

In [17]:
male_counts = pd.read_csv('counts/male.csv', index_col=0)
male_counts

      US  CA  FR  RU  CN  FI  JP  FN  EU  4C  OL  WR
2005  11  12  11  10  10 NaN  12   0  25  23   0  23
2006  12  11  11  12  12 NaN  11   0  24  24  24  24
2007  11  11  11  12  10 NaN  11   0  24  21   0  24
2008  12  12  11  12  12 NaN  12   0  25  21   0  24
2009  10  11  12  12  11 NaN  12   0  24  24   0  24
2010  12  12  12  11  12 NaN  12   0  20  20  24  24
2011  12  12   9  12  11 NaN  12   0  24  20   0  24
2012  10  10   9   9   8 NaN   9   0  23  24   0  24
2013  10  10   8   9   7 NaN   9   0  22  23   0  24
2014   8  10   8   8   9 NaN   9   0  24  24  24  23
2015  11  11  11  12  11 NaN  11   0  23  24   0  24
2016  12  12  11  10  12 NaN  12   0  24  23   0  24
2017  10  12  11  12  10 NaN  11   0  24  24   0  24
2018  10  12  11  12  12 NaN  11   0  24  24  24  24
2019  12  12  10  12   0 NaN  12  11  24  24   0   0

In [15]:
year = 2005
for event in event_name_dict.values():
    link = male_links.loc[event, year]
    
    if not pd.isnull(link):
        print(f'{event}: {link}')
        score = parse_score(link, event, year, n_skaters=10, process=True)
        print(score)

US: http://www.isuresults.com/results/gpusa04/CAT001RS.HTM
name_col: 1, score_col: 3, start_row: 1
                   name   score event  year
1         Brian JOUBERT  193.46    US  2005
2           Ryan JAHNKE  186.71    US  2005
3         Michael WEISS  179.56    US  2005
4           Roman SEROV  174.42    US  2005
5          Evan LYSACEK  162.51    US  2005
6              Lun SONG  161.46    US  2005
7        Nicholas YOUNG  160.82    US  2005
8          Ben FERREIRA  157.41    US  2005
9      Stefan LINDEMANN  156.73    US  2005
10  Vakhtang MURVANIDZE  143.10    US  2005
CA: http://www.isuresults.com/results/gpcan04/CAT001RS.HTM
name_col: 1, score_col: 3, start_row: 3
                    name   score event  year
9         Emanuel SANDHU  204.17    CA  2005
10          Ben FERREIRA  200.46    CA  2005
11        Jeffrey BUTTLE  191.85    CA  2005
12           Ryan JAHNKE  190.55    CA  2005
13  Kevin VAN DER PERREN  182.46    CA  2005
14      Stefan LINDEMANN  176.59    CA  2005
15         Takeshi HONDA  166.09    CA  2005
16          Andrei LEZIN  155.23    CA  2005
17           Xiaodong MA  153.57    CA  2005
18      Frederic DAMBIER  148.01    CA  2005
FR: http://www.isuresults.com/results/gpfra04/CAT001RS.HTM
name_col: 1, score_col: 3, start_row: 3
               name   score event  year
9       Johnny WEIR  208.10    FR  2005
10    Brian JOUBERT  199.04    FR  2005
11   Emanuel SANDHU  168.80    FR  2005
12      Xiaodong MA  162.32    FR  2005
13  Gheorghe CHIPER  158.99    FR  2005
14       Ivan DINEV  152.72    FR  2005
15    Silvio SMALUN  148.05    FR  2005
16  Alban PREAUBERT  146.00    FR  2005
17  Samuel CONTESTI  143.72    FR  2005
18     Gregor URBAS  137.38    FR  2005
RU: http://www.isuresults.com/results/gprus04/CAT001RS.HTM
name_col: 1, score_col: 3, start_row: 3
                name   score event  year
9   Evgeni PLUSHENKO  233.45    RU  2005
10       Johnny WEIR  207.99    RU  2005
11         Min ZHANG  186.04    RU  2005
12      Shawn SAWYER  176.74    RU  2005
13      Evan LYSACEK  172.45    RU  2005
14      Andrei LEZIN  167.75    RU  2005
15    Andrei GRIAZEV  166.56    RU  2005
16    Sergei DAVYDOV  158.85    RU  2005
17  Anton KOVALEVSKI  146.11    RU  2005
18      Aidas REKLYS  127.03    RU  2005
CN: http://www.isuresults.com/results/gpchn04/CAT001RS.HTM
name_col: 1, score_col: 3, start_row: 3
                name   score event  year
9     Jeffrey BUTTLE  211.20    CN  2005
10     Chengjiang LI  197.15    CN  2005
11  Stefan LINDEMANN  188.80    CN  2005
12         Min ZHANG  187.30    CN  2005
13          Lun SONG  179.64    CN  2005
14       Scott SMITH  168.25    CN  2005
15        Ivan DINEV  159.59    CN  2005
16    Matthew SAVOIE  150.20    CN  2005
17     Silvio SMALUN  144.61    CN  2005
18  Marc Andre CRAIG  142.67    CN  2005
JP: http://www.isuresults.com/results/gpjpn04/CAT001RS.HTM
name_col: 1, score_col: 3, start_row: 3
                name   score event  year
9        Johnny WEIR  220.25    JP  2005
10    Timothy GOEBEL  208.28    JP  2005
11  Frederic DAMBIER  197.37    JP  2005
12     Michael WEISS  193.00    JP  2005
13     Chengjiang LI  192.04    JP  2005
14    Nicholas YOUNG  183.64    JP  2005
15     Takeshi HONDA  182.84    JP  2005
16  Kensuke NAKANIWA  181.27    JP  2005
17      Shawn SAWYER  167.99    JP  2005
18   Alban PREAUBERT  153.94    JP  2005
FN: http://www.isuresults.com/results/gpf0405/CAT001RS.HTM
name_col: 1, score_col: 3, start_row: 3
                name   score event  year
9   Evgeni PLUSHENKO  251.75    FN  2005
10    Jeffrey BUTTLE  216.65    FN  2005
11     Chengjiang LI  201.07    FN  2005
12    Emanuel SANDHU  195.90    FN  2005
13     Brian JOUBERT  193.64    FN  2005
14       Ryan JAHNKE  172.06    FN  2005
EU: http://www.isuresults.com/results/ec2005/CAT001RS.HTM
name_col: 1, score_col: 3, start_row: 3
                    name   score event  year
9       PLUSHENKO Evgeni  227.14    EU  2005
10         JOUBERT Brian  224.43    EU  2005
11      LINDEMANN Stefan  200.54    EU  2005
12      LAMBIEL Stephane  196.47    EU  2005
13        GRIAZEV Andrei  196.31    EU  2005
14  VAN DER PERREN Kevin  195.47    EU  2005
15      DAMBIER Frederic  183.60    EU  2005
16       CHIPER Gheorghe  180.86    EU  2005
17       CONTESTI Samuel  171.59    EU  2005
18  BERNTSSON Kristoffer  166.70    EU  2005
4C: http://www.isuresults.com/results/fc2005/CAT001RS.HTM
name_col: 1, score_col: 3, start_row: 3
                 name   score event  year
9        Evan LYSACEK  196.39    4C  2005
10      Chengjiang LI  194.09    4C  2005
11  Daisuke TAKAHASHI  192.29    4C  2005
12       Ben FERREIRA  188.36    4C  2005
13     Matthew SAVOIE  185.38    4C  2005
14       Shawn SAWYER  173.15    4C  2005
15           Lun SONG  164.08    4C  2005
16   Kensuke NAKANIWA  162.61    4C  2005
17          Min ZHANG  162.53    4C  2005
18   Kazumi KISHIMOTO  160.41    4C  2005
WR: http://www.isuresults.com/results/wc2005/CAT001RS.HTM
name_col: 1, score_col: 3, start_row: 3
                    name   score event  year
9       Stephane LAMBIEL  262.46    WR  2005
10        Jeffrey BUTTLE  245.69    WR  2005
11          Evan LYSACEK  239.29    WR  2005
12           Johnny WEIR  236.06    WR  2005
13         Chengjiang LI  235.67    WR  2005
14         Brian JOUBERT  235.29    WR  2005
15        Emanuel SANDHU  231.16    WR  2005
16  Kevin VAN DER PERREN  229.94    WR  2005
17      Frederic DAMBIER  226.88    WR  2005
18        Timothy GOEBEL  222.57    WR  2005

In [13]:
def parse_score(link, event, year, n_skaters, process=True):
    html = urlopen(link)
    try:
        bs = BeautifulSoup(html.read(), 'html.parser')

        table_str = str(bs.findAll('table')[0])
        table = pd.read_html(table_str)[0]
        if process:
            if year == 2005 and event == 'US':
                name_col, score_col, start_row = 1, 3, 1
            elif (year in [2018, 2019] and event == 'JP') or (year == '2018' and event == 'FN'):
                name_col, score_col, start_row = 1, 5, 1
            elif year in range(2005, 2008):
                name_col, score_col, start_row = 1, 3, 3
            elif year in range(2008, 2020):
                name_col, score_col, start_row = 1, 6, 2
            print(f'name_col: {name_col}, score_col: {score_col}, start_row: {start_row}')
            table = table[[name_col, score_col]].dropna().iloc[start_row:start_row+n_skaters, :]
            table.columns = ['name', 'score']
            table['score'] = table['score'].astype(float)
            table['event'] = event            
            table['year'] = year
        return table
    except Exception as e:
        print('failure:', link)
        print(e)
        return None

Empty DataFrame
Columns: [name, score, event, year]
Index: []

In [214]:
for url in male_links['url']:
    parse_score(link, event_name, year)

0      http://www.isuresults.com/results/gpusa05/CAT0...
1      http://www.isuresults.com/results/gpusa06/CAT0...
2      http://www.isuresults.com/results/gpusa07/CAT0...
3      http://www.isuresults.com/results/gpusa08/CAT0...
4      http://www.isuresults.com/results/gpusa09/CAT0...
5      http://www.isuresults.com/results/gpusa2010/CA...
6      http://www.isuresults.com/results/gpusa2011/CA...
7      http://www.isuresults.com/results/gpusa2012/CA...
8      http://www.isuresults.com/results/gpusa2013/CA...
9      http://www.isuresults.com/results/gpusa2014/CA...
10     http://www.isuresults.com/results/season1516/g...
11     http://www.isuresults.com/results/season1617/g...
12     http://www.isuresults.com/results/season1718/g...
13     http://www.isuresults.com/results/gpcan05/CAT0...
14     http://www.isuresults.com/results/gpcan06/CAT0...
15     http://www.isuresults.com/results/gpcan07/CAT0...
16     http://www.isuresults.com/results/gpcan08/CAT0...
17     http://www.isuresults.com/results/gpcan09/CAT0...
18     http://www.isuresults.com/results/gpcan2010/CA...
19     http://www.isuresults.com/results/gpcan2011/CA...
20     http://www.isuresults.com/results/gpcan2012/CA...
21     http://www.isuresults.com/results/gpcan2013/CA...
22     http://www.isuresults.com/results/gpcan2014/CA...
23     http://www.isuresults.com/results/season1516/g...
24     http://www.isuresults.com/results/season1617/g...
25     http://www.isuresults.com/results/season1718/g...
26     http://www.isuresults.com/results/gpfra05/CAT0...
27     http://www.isuresults.com/results/gpfra06/CAT0...
28     http://www.isuresults.com/results/gpfra07/CAT0...
29     http://www.isuresults.com/results/gpfra08/CAT0...
                             ...
91     http://www.isuresults.com/results/ec2006/CAT00...
92     http://www.isuresults.com/results/ec2007/CAT00...
93     http://www.isuresults.com/results/ec2008/CAT00...
94     http://www.isuresults.com/results/ec2009/CAT00...
95     http://www.isuresults.com/results/ec2010/CAT00...
96     http://www.isuresults.com/results/ec2011/CAT00...
97     http://www.isuresults.com/results/ec2012/CAT00...
98     http://www.isuresults.com/results/ec2013/CAT00...
99     http://www.isuresults.com/results/ec2014/CAT00...
100    http://www.isuresults.com/results/ec2015/CAT00...
101    http://www.isuresults.com/results/season1516/e...
102    http://www.isuresults.com/results/season1617/e...
103    http://www.isuresults.com/results/season1718/e...
104    http://www.isuresults.com/results/fc2006/CAT00...
105    http://www.isuresults.com/results/fc2007/CAT00...
106    http://www.isuresults.com/results/fc2008/CAT00...
107    http://www.isuresults.com/results/fc2009/CAT00...
108    http://www.isuresults.com/results/fc2010/CAT00...
109    http://www.isuresults.com/results/fc2011/CAT00...
110    http://www.isuresults.com/results/fc2012/CAT00...
111    http://www.isuresults.com/results/fc2013/CAT00...
112    http://www.isuresults.com/results/fc2014/CAT00...
113    http://www.isuresults.com/results/fc2015/CAT00...
114    http://www.isuresults.com/results/season1516/f...
115    http://www.isuresults.com/results/season1617/f...
116    http://www.isuresults.com/results/season1718/f...
117    http://www.isuresults.com/results/owg2006/CAT0...
118    http://www.isuresults.com/results/owg2010/CAT0...
119    http://www.isuresults.com/results/owg2014/CAT0...
120    http://www.isuresults.com/results/season1718/o...
Name: url, Length: 121, dtype: object

In [58]:
scores = pd.concat((parse_score(link, event_name, 2017) for event_name, link in links.items()), axis=0)
scores['name'] = scores['name'].str.replace('\xa0', ' ')
scores.reset_index(drop=True, inplace=True)
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(scores)

                      name   score event  year
0              Nathan CHEN  275.88    US  2017
1              Adam RIPPON  266.45    US  2017
2           Sergei VORONOV  257.49    US  2017
3               Boyang JIN  246.03    US  2017
4                  Han YAN  228.33    US  2017
5               Ross MINER  219.62    US  2017
6            Takahito MURA  212.77    US  2017
7               Liam FIRUS  210.83    US  2017
8           Kevin REYNOLDS  204.05    US  2017
9           Roman SADOVSKY  200.10    US  2017
10               Shoma UNO  301.10    CA  2017
11             Jason BROWN  261.14    CA  2017
12       Alexander SAMARIN  250.06    CA  2017
13            Patrick CHAN  245.70    CA  2017
14         Jorik HENDRICKX  237.31    CA  2017
15          Michal BREZINA  237.04    CA  2017
16          Nicolas NADEAU  229.43    CA  2017
17          Keegan MESSING  217.75    CA  2017
18            Jun Hwan CHA  210.32    CA  2017
19              Paul FENTZ  201.60    CA  2017
20           Brendan KERRY  201.56    CA  2017
21           Takahito MURA  186.66    CA  2017
22        Javier FERNANDEZ  283.71    FR  2017
23               Shoma UNO  273.32    FR  2017
24                Misha GE  258.34    FR  2017
25       Alexander SAMARIN  253.13    FR  2017
26         Alexei BYCHENKO  247.44    FR  2017
27     Moris KVITELASHVILI  240.50    FR  2017
28               Max AARON  237.20    FR  2017
29               Denis TEN  228.57    FR  2017
30            Vincent ZHOU  222.21    FR  2017
31             Kevin AYMOZ  220.43    FR  2017
32          Romain PONSART  198.12    FR  2017
33             Nathan CHEN  293.79    RU  2017
34            Yuzuru HANYU  290.77    RU  2017
35         Mikhail KOLYADA  271.06    RU  2017
36                Misha GE  255.33    RU  2017
37     Moris KVITELASHVILI  250.26    RU  2017
38            Dmitri ALIEV  239.61    RU  2017
39              Nam NGUYEN  238.45    RU  2017
40        Deniss VASILJEVS  227.53    RU  2017
41               Denis TEN  214.35    RU  2017
42          Andrei LAZUKIN  212.14    RU  2017
43         Grant HOCHSTEIN  206.09    RU  2017
44          Daniel SAMOHIN  183.79    RU  2017
45         Mikhail KOLYADA  279.38    CN  2017
46              Boyang JIN  264.48    CN  2017
47               Max AARON  259.69    CN  2017
48            Vincent ZHOU  256.66    CN  2017
49                 Han YAN  254.61    CN  2017
50        Javier FERNANDEZ  253.06    CN  2017
51            Keiji TANAKA  247.17    CN  2017
52          Kevin REYNOLDS  226.50    CN  2017
53         Grant HOCHSTEIN  216.44    CN  2017
54       Alexander MAJOROV  186.04    CN  2017
55        Alexander PETROV  186.02    CN  2017
56                He ZHANG  167.58    CN  2017
57          Sergei VORONOV  271.12    JP  2017
58             Adam RIPPON  261.99    JP  2017
59         Alexei BYCHENKO  252.07    JP  2017
60             Jason BROWN  245.95    JP  2017
61          Keegan MESSING  235.80    JP  2017
62        Deniss VASILJEVS  234.80    JP  2017
63           Kazuki TOMONO  231.93    JP  2017
64            Dmitri ALIEV  223.45    JP  2017
65          Michal BREZINA  220.45    JP  2017
66              Nam NGUYEN  214.51    JP  2017
67            Hiroaki SATO  199.20    JP  2017
68             Nathan CHEN  286.51    FN  2017
69               Shoma UNO  286.01    FN  2017
70         Mikhail KOLYADA  282.00    FN  2017
71          Sergei VORONOV  266.59    FN  2017
72             Adam RIPPON  254.33    FN  2017
73             Jason BROWN  253.81    FN  2017
74        Javier FERNANDEZ  295.55    EU  2017
75            Dmitri ALIEV  274.06    EU  2017
76         Mikhail KOLYADA  258.90    EU  2017
77        Deniss VASILJEVS  243.52    EU  2017
78         Alexei BYCHENKO  238.44    EU  2017
79       Alexander SAMARIN  229.81    EU  2017
80       Alexander MAJOROV  225.86    EU  2017
81          Michal BREZINA  225.20    EU  2017
82            Matteo RIZZO  219.43    EU  2017
83         Jorik HENDRICKX  218.17    EU  2017
84       Chafik BESSEGHIER  211.17    EU  2017
85     Moris KVITELASHVILI  210.47    EU  2017
86          Phillip HARRIS  208.22    EU  2017
87          Romain PONSART  200.72    EU  2017
88      Slavik HAYRAPETYAN  196.63    EU  2017
89              Paul FENTZ  194.97    EU  2017
90       Irakli MAYSURADZE  191.22    EU  2017
91         Stephane WALKER  185.41    EU  2017
92        Valtter VIRTANEN  181.77    EU  2017
93          Felipe MONTOYA  181.72    EU  2017
94   Daniel Albert NAURITS  176.10    EU  2017
95      Sondre ODDVOLL BOE  170.64    EU  2017
96         Burak DEMIRBOGA  167.22    EU  2017
97        Igor REZNICHENKO  165.65    EU  2017
98              Boyang JIN  300.95    4C  2017
99               Shoma UNO  297.94    4C  2017
100            Jason BROWN  269.22    4C  2017
101           Keiji TANAKA  260.31    4C  2017
102              Max AARON  255.45    4C  2017
103               Misha GE  248.96    4C  2017
104         Kevin REYNOLDS  241.50    4C  2017
105           Elladj BALDE  238.20    4C  2017
106             Nam NGUYEN  237.52    4C  2017
107                Han YAN  227.93    4C  2017
108        Grant HOCHSTEIN  226.39    4C  2017
109          Takahito MURA  225.41    4C  2017
110          Brendan KERRY  219.95    4C  2017
111        June Hyoung LEE  211.86    4C  2017
112              Denis TEN  210.82    4C  2017
113     Julian Zhi Jie YEE  197.68    4C  2017
114            Chih-I TSAO  195.21    4C  2017
115       Donovan CARRILLO  185.91    4C  2017
116               He ZHANG  184.82    4C  2017
117         Geon Hyeong AN  180.26    4C  2017
118           Andrew DODDS  177.81    4C  2017
119           Sihyeong LEE  177.07    4C  2017
120      Abzal RAKIMGALIEV  175.58    4C  2017
121    Leslie Man Cheuk IP  150.23    4C  2017
122            Nathan CHEN  321.40    WR  2017
123              Shoma UNO  273.77    WR  2017
124        Mikhail KOLYADA  272.32    WR  2017
125        Alexei BYCHENKO  258.28    WR  2017
126          Kazuki TOMONO  256.11    WR  2017
127       Deniss VASILJEVS  254.86    WR  2017
128           Dmitri ALIEV  252.30    WR  2017
129         Keegan MESSING  252.30    WR  2017
130               Misha GE  249.57    WR  2017
131         Michal BREZINA  243.99    WR  2017
132              Max AARON  241.49    WR  2017
133      Alexander MAJOROV  237.79    WR  2017
134           Keiji TANAKA  236.66    WR  2017
135           Vincent ZHOU  235.24    WR  2017
136             Paul FENTZ  230.92    WR  2017
137         Romain PONSART  229.20    WR  2017
138           Matteo RIZZO  225.44    WR  2017
139          Brendan KERRY  223.85    WR  2017
140             Boyang JIN  223.41    WR  2017
141         Daniel SAMOHIN  214.01    WR  2017
142     Julian Zhi Jie YEE  209.03    WR  2017
143       Donovan CARRILLO  200.76    WR  2017
144     Slavik HAYRAPETYAN  199.72    WR  2017
145         Phillip HARRIS  187.69    WR  2017

In [61]:
scores.to_csv('scores/2017.csv', index=False)